@import "reset";
@import "var";
@import "rec";
@import "header";
@import "slide";
@import "navbar";
@import "helpers";
@import "rank";
@import "search";
@import "player";

body {
     background: $background-color;
     font: 12px/1.5 "hiragino sans gb",arial;
     color: #808080;
}
.noscroll {
    overflow: hidden;
}